// Define defaults for each variable.
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,500,700|Slabo+27px');

$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 24px;
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111;
$background-color: #fdfdfd !default;
$brand-color: #FF0000;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
     @media screen and (max-width: $device){
        @content;
    }
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting";

.fill {
    // border: 1px solid red;
    width: 100%;
}

h1,
h2,
h3 {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.three-up:after,
.two-up:after {
    content: '';
    display: table;
    clear: both;
}

.two-up img {
    width: 50%;
    float: left;
}

.three-up img {
    width: 33.33%;
    float: left;
}

.caption {
    font-size: 0.6em;
    margin: 10px 0;
    font-weight: 300;
}

.aside {
    border: 1px solid #AA6666;
    padding: 1em;
    background: #FFEEEE;
}

table td {
    border: 1px solid gray;
}


.site-header {
    background: black;
    color: white;
}


.hero {
    background-color: red;
}
